@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lumanosimo&family=Quicksand:wght@300;400;500;600;700&family=Ysabeau+SC:wght@1;100;200;300;400&display=swap');
@charset "UTF-8";

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: black;
}

header {
    padding-top: 20px;
}

.logo {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
} 

.menu {
    justify-content: center;
    text-align: center;
    align-items: center;  
}

article > h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

article > h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

article > h3 {
    border: 2px solid white;
    border-radius: 50px;
    border-style: double;
    border-color: lightgreen;
    font-family: 'Tektur', cursive;
    font-size: 40px;
    color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article > a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(9, 241, 90);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: #d0ffbf;
}

i#burguer {
    color: white;
    display: block;
    text-align: center;
    padding: 40px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #00bf63;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(40, 77, 53);
}

main {
    text-align: center;
    margin: auto;
    padding: 10px;
}

@media screen and (min-width: 1160px) {

    i#burguer {
        display:none;
    }
    menu {
        padding: 30px;
        display: block;
    }
    menu > ul > li {
        display: inline;
    }
    menu > ul > li > a {
        padding: 15px;
        display: inline-block;
        border: none;
    }
    menu > ul > li > a:hover{
        transition: 1s;
    }
    main {
        width: 768px;
    }
}

@media screen and (min-width: 743px) and (max-width: 1160px) {

    i#burguer {
        display:none;
    }
    menu {
        padding: 30px;
        display: flex;
        font-size: 10px;
    }
    menu > ul > li {
        display: inline;
        padding: 0px;
        margin: 0px;
    }
    menu > ul > li > a {
        padding: 15px;
        display: inline-block;
        border: none;
    }
    menu > ul > li > a:hover{
        transition: 1s;
    }
    main {
        width: 768px;
    }        
}