@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lumanosimo&family=Quicksand:wght@300;400;500;600;700&family=Ysabeau+SC:wght@1;100;200;300;400&display=swap');
@charset "UTF-8";

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1045%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3ccircle r='180' cx='-114.13' cy='168.01' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='180' cx='835.58' cy='639.81' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='137.65' cx='179.05' cy='1015.08' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='306.59' cx='809.9' cy='510.41' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='217.9' cx='602.01' cy='400.89' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='168.48' cx='1599.05' cy='217.62' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='167.1' cx='783.35' cy='591.02' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='125.91' cx='1923.18' cy='547.87' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='138.24' cx='1865.62' cy='751.82' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3ccircle r='208.295' cx='85.65' cy='768.06' stroke='%230eb923' stroke-opacity='0.38' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1045'%3e%3crect width='1980' height='1080' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

header {
    background-color: black;
    padding-top: 20px;
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: rgb(9, 241, 90);
    text-shadow: 3px 2px 5px blue;
}

article > h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

article > h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

article > h3 {
    border: 2px solid white;
    border-radius: 50px;
    border-style: double;
    border-color: lightgreen;
    font-family: 'Lumanosimo', cursive;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article > a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(9, 241, 90);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: #d0ffbf;
}

i#burguer {
    background-color: black;
    color: rgb(9, 241, 90);
    display: block;
    text-align: center;
    padding: 40px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 2px 5px blue;
    background-color: black;
    color: rgb(9, 241, 90);
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(40, 77, 53);
}

main {
    text-align: center;
    margin: auto;
    padding: 10px;
}