@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ysabeau+SC:wght@1;100;200;300;400&display=swap');
@charset "UTF-8";

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url(/img/Circuit\ Board.svg);
}

header {
    padding-top: 20px;
}

.logo {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    margin:auto;
    margin-top: 30px;
    
}

.logo img{
    width: 60%;
}

.menu {
    justify-content: center;
    text-align: center;
    align-items: center;  
}

i#burguer {
    margin-top: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    color: #00bf63;
}

menu > ul > li > a:hover {
    background-color: rgb(40, 77, 53);
}

@media screen and (min-width: 1160px) {

    i#burguer {
        display:none;
    }

    .logo {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;
        margin:auto;
        margin-top: 12vw; 
    }

    .logo img{
        width:25%;
    }

    menu {
        padding: 30px;
        display: block;
    }

    menu > ul > li {
        display: inline;
    }

    menu > ul > li > a {
        padding: 15px;
        display: inline-block;
        border: none;
    }

    menu > ul > li > a:hover{
        transition: 1s;
    }

    main {
        width: 768px;
    }
}

@media screen and (min-width: 743px) and (max-width: 1160px) {

    i#burguer {
        display:none;
    }

    .logo {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;
        margin:auto;
        margin-top: 12vw;
        
    }

    .logo img{
        width: 20%;
    }

    menu {
        padding: 30px;
        display: flex;
        font-size: 10px;
    }

    menu > ul > li {
        display: inline;
        padding: 0px;
        margin: 0px;
    }

    menu > ul > li > a {
        padding: 15px;
        display: inline-block;
        border: none;
    }

    menu > ul > li > a:hover{
        transition: 1s;
    }
    
    main {
        width: 768px;
    }        
}